:root
{
  --swiper-navigation-size: 20px !important;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: white !important;
}

.swiper{
  width: 70% !important;
}
.swiper img{
  width: 100% !important;
}
.swiper-slide{
  display: flex !important;
}
.swiper_thumbnail .swiper-slide-thumb-active{
  outline: 2px solid #000 !important;
  outline-offset: -2px !important;
  height: max-content !important;
}
.swiper_thumbnail img{
  vertical-align: bottom !important;
}
.modal-1 {
  z-index: 99;
}
.modal-1 i {
  top: 0 !important;
  right: -850px !important;
}
.swiper-button-prev, .swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background-color: #0b273fc1;
  border-radius: 50%;
  display: flex !important;
  color: white !important;
  transition: all 0.175s ease-in;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #daa322cd;
  transition: all 0.105s ease-in;
}
@media (max-width: 320px) {
  .modal-1 i {
    right: -250px !important;
  }
}
@media (min-width: 375px) {
  .modal-1 i {
    right: -300px !important;
  }
}
@media (min-width: 425px) {
  .modal-1 i {
    right: -350px !important;
  }
}
@media (min-width: 768px) {
  .modal-1 i {
    top: 0 !important;
    right: -850px !important;
  }
}
@media (max-width: 768px) {
  .modal-1 {
    width: 100%;
  }
  .swiper {
    width: 100% !important;
    height: auto;
  }
}